<article class="article px-[60px] py-[15px]">
  <h2 class="text-[48px] text-gray-600">Q∫AboutMe</h2>
  <hr>
  <div class="flex">
    <h3 class="text-[40px] text-green-600 items-start">嗨</h3>
    <p class="ml-2 mb-1 text-[22px] text-gray-500 items-end">
      歡迎來到我的部落格，我是艾瑞克，一名擁有10年餐飲內場經驗的廚師。<br>
      自從我在2023年10月加入了<五倍紅寶石>課程，我的生活開始了新的章節。<br>
      我用Ruby on Rails創建這個部落格的目的，不僅是為了記錄我從廚師轉行到軟體開發的旅程，也是為了分享我在學習過程心得與挑戰。
    </p>
  </div>
  <div class="flex justify-end"></div>
  <article class="markdown max-w-none mt-5"></article>
  <hr>
</article>