@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown h1 {
  font-size: 3.5rem;
}

.markdown h2 {
  font-size: 3rem;
}

.markdown h3 {
  font-size: 2.5rem;
}

.markdown h4 {
  font-size: 2rem;
}

.markdown h5 {
  font-size: 1.75rem;
}

.markdown p {
  font-size: 1.5rem;
  margin: 15px 0px;
}

.markdown br {
  margin: 50px !important;
}

.markdown a {
  color: cadetblue;
  font-size: 1.75rem;
}

.markdown ul {
  list-style-type: square;
  color: rgb(108, 107, 107);
  margin-left: 20px;
  font-size: 1.5rem;
}

.markdown li {
  margin-bottom: 2px;
  font-size: 1.5rem;
}

.markdown hr {
  border: none;
  height: 2px;
  background-color: #b2afaf;
  margin: 15px auto;
}

.markdown pre {
  background-color: #eee0e0;
  border: 2px solid #888787;
  border-radius: 7px;
  padding: 15px;
  overflow: auto;
  line-height: 1.2;
  font-family: Consolas, "Courier New", monospace;
  width: 60%;
  margin: 25px 0;
}

.markdown code {
  background-color: #f9ecec;
  padding: 4px 4px;
  font-family: Consolas, "Courier New", monospace; /* 字体 */
  font-size: 80%;
  border-radius: 7px;
}

.markdown pre code {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 100%;
}

.markdown blockquote {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-left: 5px solid #ccc;
}

/* 自定義表格樣式 */
.markdown table {
  padding: 30px 20px;
  width: 100%;
  border-collapse: collapse;
  font-size: 22px;
  margin: 25px 0px;
}

.markdown th,
.markdown td {
  border: 3px solid #ddd;
  padding: 8px;
  text-align: center !important; /* 水平置中並使用!important來覆蓋內聯樣式 */
  vertical-align: middle !important; /* 垂直置中並使用!important來覆蓋內聯樣式 */
}

.markdown th {
  background-color: #f9f9f9;
}

.markdown tr:nth-child(even) {
  background-color: #f2f2f2;
}

.markdown tr:hover {
  background-color: #eaeaea;
}

.notice,
.alert {
  position: absolute;
  top: 65px;
  right: 20px;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}

.notice {
  background-color: rgb(86, 170, 86);
  color: green;
}

.alert {
  background-color: lightcoral;
  color: red;
}

.article hr {
  border: none;
  height: 10px;
  background-color: #abc178;
  margin: 10px auto;
}

.index hr {
  border: none;
  height: 4px;
  background-color: #abc178;
  margin: 10px auto;
}

.index::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 37px;
  border-top: 8px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #d1d5db;
}

.preview h1 {
  font-size: 3.5rem;
}

.preview h2 {
  font-size: 3rem;
}

.preview h3 {
  font-size: 2.5rem;
}

.preview h4 {
  font-size: 2rem;
}

.preview h5 {
  font-size: 1.75rem;
}

.preview p {
  font-size: 1.5rem;
}

.preview a {
  color: cadetblue;
  font-size: 1.75rem;
}

.preview ul {
  list-style-type: square;
  color: rgb(108, 107, 107);
  margin-left: 20px;
  font-size: 1.5rem;
}

.preview li {
  margin-bottom: 2px;
  font-size: 1.5rem;
}

.preview hr {
  border: none;
  height: 2px;
  background-color: #b2afaf;
  margin: 15px auto;
}

.preview pre {
  background-color: #eee0e0;
  border: 2px solid #888787;
  border-radius: 7px;
  padding: 15px;
  overflow: auto;
  line-height: 1.2;
  font-family: Consolas, "Courier New", monospace;
  width: 40%;
  margin: 20px 0;
}

.preview code {
  background-color: #f9ecec;
  padding: 4px 4px;
  font-family: Consolas, "Courier New", monospace; /* 字体 */
  font-size: 80%;
  border-radius: 7px;
}

.preview pre code {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 100%;
}

.preview br {
  margin: 20px 0px;
}

.preview blockquote {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-left: 5px solid #ccc;
  white-space: normal;
}

/* 自定義表格樣式 */
.preview table {
  padding: 30px 20px;
  width: 100%;
  border-collapse: collapse;
}

.preview th,
.preview td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: center; /* 水平置中 */
  vertical-align: middle; /* 垂直置中 */
}

.preview th {
  background-color: #f9f9f9;
}

.preview tr:nth-child(even) {
  background-color: #f2f2f2;
}

.preview tr:hover {
  background-color: #eaeaea;
}
